@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-regular.woff2') format('woff2'),
  url('fonts/roboto-regular.woff') format('woff'),
  url('fonts/roboto-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-medium.woff2') format('woff2'),
  url('fonts/roboto-medium.woff') format('woff'),
  url('fonts/roboto-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-bold.woff2') format('woff2'),
  url('fonts/roboto-bold.woff') format('woff'),
  url('fonts/roboto-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-black.woff2') format('woff2'),
  url('fonts/roboto-black.woff') format('woff'),
  url('fonts/roboto-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Serif';
  src: url('fonts/RobotoSerif.woff2') format('woff2'),
  url('fonts/RobotoSerif.woff') format('woff'),
  url('fonts/RobotoSerif.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}