// Some global styles
@import 'typography';

.v-application {
  h1.text-h1,
  h2.text-h1 {
    @media #{$md-and-up} {
      font-size: $type-h1-md-size !important;
    }
  }
  h2.text-h2,
  h3.text-h2,
  span.text-h2,
  div.text-h2 {
    @media #{$md-and-up} {
      font-size: $type-h2-md-size !important;
      line-height: $type-h2-md-line-height !important;
    }
  }
  h3.text-h3,
  p.text-h3,
  div.text-h3 {
    @media #{$md-and-up} {
      font-size: $type-h3-md-size !important;
      line-height: $type-h3-md-line-height !important;
    }
  }
  h4.text-h4,
  p.text-h4,
  div.text-h4 {
    @media #{$md-and-up} {
      font-size: $type-h4-md-size !important;
    }
  }
  h5.text-h5,
  p.text-h5,
  div.text-h5 {
    @media #{$md-and-up} {
      font-weight: $type-h5-md-weight !important;
      line-height: $type-h5-md-line-height !important;
    }
  }
  p.body-1,
  div.body-1 {
    @media #{$md-and-up} {
      font-size: $type-body-1-md-size !important;
    }
  }
  p.body-2,
  span.body-2,
  div.body-2 {
    @media #{$md-and-up} {
      font-size: $type-body-2-md-size !important;
      font-weight: $type-body-2-md-weight !important;
      line-height: $type-body-2-md-line-height !important;
    }
  }
  p.subtitle-1,
  span.subtitle-1 {
    @media #{$md-and-up} {
      font-weight: $type-subtitle-1-md-weight !important;
    }
  }
}

.box-shadow {
  box-shadow: $shadow-soft;
}

.no-wrap {
  text-wrap: nowrap;
}
